<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345107924402-opn411i8j8g5kakb9btu0s3qh6qaru0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345107924402-opn411i8j8g5kakb9btu0s3qh6qaru0h</string>
	<key>API_KEY</key>
	<string>AIzaSyAlqiRfXhSqixXly--bD3jw9jGJbHS9Yww</string>
	<key>GCM_SENDER_ID</key>
	<string>345107924402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.poppyteamchat.app</string>
	<key>PROJECT_ID</key>
	<string>poppy-team-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>poppy-team-chat.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345107924402:ios:3c177c8c764c6fa54610ab</string>
</dict>
</plist>